@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

@import "toggle.scss";

#app {
    transition: background-color 800ms linear;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 66%
    );
}

#clock {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

button {
    height: 1.5vw;
}
