<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="dist/app.js" defer></script>
<link href="dist/app.css" rel="stylesheet">

<title>vueColorClock</title>

<div id="app" class="bg-gray-600 p-4 h-screen w-screen" v-bind:style="styles">
    <div class="flex flex-col justify-between border-2 border-white p-2 h-full w-full">
        <div class="flex justify-between">
            <a href="https://github.com/PHLAK/vueColorClock" class="text-sm text-white underline">vueColorClock</a>

            <p class="text-sm text-white">
                A <a href="https://vuejs.org" class="underline">Vue.js</a> clone of
                <a href="http://thecolourclock.co.uk" class="underline">The Color Clock</a>
            </p>
        </div>

        <div class="flex flex-col justify-center items-center inline-block">
            <div id="clock" class="inline-block font-mono leading-none text-white text-16vw text-center text-shadow-solid whitespace-no-wrap">
                <template v-if="mode == 'clock'">{{ time }}</template>
                <template v-if="mode == 'hex'">{{ hex }}</template>

                <div class="flex justify-center">
                    <button class="bg-white shadow-solid mx-2 w-1/2" title="Clock Mode" v-on:click="setMode('clock')"></button>
                    <button class="bg-white shadow-solid mx-2 w-1/2" title="Hex Mode" v-on:click="setMode('hex')"></button>
                </div>
            </div>
        </div>

        <div class="flex justify-between">
            <div class="flex items-center text-sm text-white">
                12H
                <input class="toggle" id="time-format" type="checkbox" v-model="timeFormat" true-value="HH:mm:ss" false-value="hh:mm:ss">
                <label class="toggle-switch" for="time-format"></label>
                24H
            </div>

            <div class="text-sm text-white">
                &copy; {{ now.year }}
                <a href="https://www.chriskankiewicz.com" class="underline">
                    Chris Kankiewicz
                </a>
            </div>
        </div>
    </div>
</div>
