@import url("https://fonts.googleapis.com/css?family=Courier+Prime");

@import "tailwindcss";
@import "./toggle.css";

@theme {
    --font-courier-prime: Courier Prime;
}

#wrapper {
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 66%
    );
}

button {
    height: 1.5vw;
}
